<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nuppin">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.nuppin.User.activity.ClassBaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        tools:ignore="GoogleAppIndexingWarning,InnerclassSeparator">
        

        <activity android:name="com.nuppin.User.login.TelaIntro"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nuppin.User.login.TelaCadastro"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nuppin.User.login.TelaCadastroEmail"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nuppin.User.login.TelaCadastroEmailVerifyCode"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.nuppin.User.login.TelaCadastroNumber"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />

        <activity android:name="com.nuppin.User.login.TermosDeUso"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.nuppin.User.activity.TelaListaTodasLojas"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask"
            />

        <activity
            android:name="com.nuppin.User.login.SplashScreen"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.nuppin.Firebase.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:enabled="true" android:name=".Firebase.updateUserToken" android:exported="false" />


        <!--
    Set custom default icon. This is used when no icon is set for incoming notification messages.
    See README(https://goo.gl/l4GJaQ) for more.
       -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification"/>
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="fcm" />



    </application>

</manifest>